/* General rules */

/* Site wide CSS */
body {font-family: arial; margin:0; padding:0; color:#555;}
a {text-decoration: none; color:#026dc5;}
#h {background-color:#D41200; padding:8px;}
#h h1 {color:#fff;}

/* Media Queries */
.hotel {border-bottom:solid 1px #eee; padding:8px; position:relative; min-height: 100px;}
.hotel .thumbnail {position:absolute; top:6px;
				left:0;
				bottom:6px;
    			width: 28%;
    			text-align: center; /* ensures the image is always in the h-middle */
    			overflow: hidden; /* hide the cropped portion */
			}

.hotel .thumbnail img {
    			position: relative; /* allows repositioning */
    			left: 100%; /* move the whole width of the image to the right */
    			margin-left: -200%; /* magic! */
    			height:100%;
			}

@media only screen and (min-width:600px) {
}

@media only screen and (min-width:750px) {
}

@media only screen and (min-width:850px) {
}

@media only screen and (min-width:960px) {
}

@media only screen and (min-width:1260px) {
}