body {background-color:#fff; font-family: arial; font-family: 'Roboto', sans-serif;}
a {text-decoration: none;}
#header {position:fixed; top:0px; left:0; right:0; height:50px; background-color:#d41200; color:#fff; z-index:1000; }
#search {position:fixed; top:50px; left:0; right:0; height:40px; background-color:#555;}

#list {position:absolute; top:90px; left:0; bottom:0; width:700px; background-color:#eee; overflow-y:scroll; box-sizing:border-box; padding:24px;}
#list .listing {background-color:#fff; margin-bottom:24px; box-sizing:border-box; position:relative;}
#list .listing:hover {cursor: pointer;}

#list .listing .image {position:absolute; top:0; left:0; width:160px; bottom:0; background-size:cover; background-repeat: no-repeat;}
#list .listing .details {margin-left:180px; min-height:100px; padding:12px 0 ;}
#list .listing .details .name {margin-bottom:6px; font-size:18px;}
#list .listing .details img.ta {height:16px;}
#list .listing .details .star-rating {margin-bottom:6px; color:#d41200;}
#list .listing .details .price {margin:12px 0 6px;}
#list .listing .details .price .total {font-size:32px; margin-top:6px;}
#list .listing .details .price .high-price {font-size:16px; margin-top:6px; text-decoration: line-through;}
#list .listing .details .red {color:#d41200;}
#list .listing .shortlist {position:absolute; top:12px; right:12px; font-size:24px; color:#fff;}
/*#list .listing .shortlist:hover {color:#090;}*/


#map {position:absolute; top:90px; left:700px; bottom:0; right:0; background-color:#ddd;}
#pdp-wrapper {position:absolute; top:90px; left:700px; bottom:0; right:0; background-color:#fff; display:none; overflow-y:scroll;}
#pdp-wrapper #pdp { padding:24px; max-width:700px; margin: 0 auto;}
#pdp-wrapper #pdp .shortlist {background-color:#eee; padding:6px; display: inline-block; color:#999;}
#pdp-wrapper #pdp h1 {font-size:24px; margin:6px 0 6px; padding-top:12px;}
#pdp-wrapper #pdp #star-rating {margin-bottom:6px;}
#pdp-wrapper #pdp #address {margin:0 0 12px 0; font-size:14px;}
#pdp-wrapper #pdp .carousel {}
#pdp-wrapper #pdp .carousel img{min-width:100%; height:300px;}
#pdp-wrapper #pdp .about h2 {font-size:20px; margin-bottom:16px;}
#pdp-wrapper #pdp .description {line-height: 20px; margin:12px 0; height:180px; overflow:hidden;}
#pdp-wrapper #pdp .description p {margin-bottom:6px;}
#pdp-wrapper #pdp .description b {font-weight:bold;}
#pdp-wrapper #pdp #hotel-images {margin:12px 0;}
#pdp-wrapper #pdp .amenities li {width:50%; float:left; margin-bottom:6px;}

#pdp-wrapper #pdp-close {padding:6px; background-color: transparent; color:#999;}
#pdp-wrapper #pdp-close:hover {cursor: pointer; color:#000; }

.shortlist-selected {color:#090;}

