@media only screen and (min-width:0px) {
/* this isn't really needed  */

	.gallery img {width:100%}
	/*.image-gallery img {width:100%}
	.image-gallery .grid {overflow:hidden;}
	.image-gallery .grid > div {float:left; width:50%; box-sizing: border-box; overflow:hidden; height:120px; background-color: #eee;}
  .image-gallery .grid > div img {width:100%}

	.info-container {padding:8px 0}*/
	.facilities {margin-top:12px;}
  .facilities .item {display: inline-block; vertical-align: top; margin-right:12px;}
	.facilities .item i {font-size:24px;}

	.intro {padding:20px;}
	.intro .county {font-size:12px;margin:0 0 4px 0;}
	.intro p.summary {}

  .section p {margin: 12px 20px;}

	.other {}
	.other .item {margin:0 20px 20px;}
	.other .item .icon {display:inline-block; width:50px; vertical-align:top; font-size:24px;}
	.other .item .details {display:inline-block; margin:0; vertical-align:top; width:calc(100% - 80px)}

}

@media only screen and (min-width:460px) {

}

@media only screen and (min-width:750px) {
}

@media only screen and (min-width:850px) {
}

@media only screen and (min-width:960px) {
}

@media only screen and (min-width:1260px) {
}
