/* Site wide CSS */
/* red: #D41200 */
body {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}

a {text-decoration: none;}

/* slider styles */
.tiny-slider__item {padding: 12px; background-color:#eee; height:200px}
.tiny-slider__item p.author {font-size:12px; margin:4px 0 4px 0; font-weight:bold}
.tiny-slider__item a {font-size:14px;}

/* Media Queries - HCOM breakpoints */
@media only screen and (min-width:0px) {
/* this isn't really needed  */
	.page-wrap {}
	.header {background-color:#000; color:#fff; padding:12px 20px;}
	.block {min-height: 300px; background-color:#dddddd; color:#999999; padding:20px; margin-bottom:20px;}
	.section {padding:0; margin-bottom:20px;}

	.image-gallery {height:300px; background-color:#eee; overflow:hidden;}
	.image-gallery img {height:300px}

	.list-scroll {overflow-y: auto; white-space:nowrap; -webkit-overflow-scrolling: touch; margin:0; padding:0 0 0 16px}
	.list-scroll li {display: inline-block; margin: 0 0px; background-color:#fff; vertical-align: top;}

	.articles ul li {width:180px; white-space: normal; height:200px border:solid 1px #ddd;}
	.articles ul li p.author {font-size:11px; margin:0 0 0px 0}
	.articles ul li a {font-size:14px;}


}

@media only screen and (min-width:380px) {
	.page-wrap {width:380px; margin:0 auto;}
}

@media only screen and (min-width:750px) {
}

@media only screen and (min-width:850px) {
}

@media only screen and (min-width:960px) {
}

@media only screen and (min-width:1260px) {
}
