/* Site wide CSS */
/* red: #D41200 */
body {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	margin:0;
	padding:0;
}

h1 {}
h2 {font-size: 20px; padding:0 20px; margin-bottom:20px;}

a {text-decoration: none;}

/* slider styles */
.tiny-slider__item {height:200px}
.tiny-slider__item .img-container {position:relative; height:135px; overflow:hidden;}
.tiny-slider__item img {width:100%}
.tiny-slider__item p.author {font-size:12px; margin:4px 0 4px 0; font-weight:bold}
.tiny-slider__item a {font-size:16px;}

.beach-slider__item {}
.beach-slider__item img {width:100%;}

.expereince-slider__item {background-color:#eee; padding:12px;}

.footer {height:100px;}

/* Media Queries - HCOM breakpoints */
@media only screen and (min-width:0px) {
/* this isn't really needed  */
	.page-wrap {}
	.header {background-color:#000; color:#fff; padding:12px 20px;}
	.block {min-height: 300px; background-color:#dddddd; color:#999999; padding:20px; margin-bottom:20px;}
	.section {border-bottom:solid 1px #eee; padding:20px 0;}

	.image-gallery {}
	.image-gallery img {width:100%}
	.image-gallery .grid {overflow:hidden;}
	.image-gallery .grid > div {float:left; width:50%; box-sizing: border-box; overflow:hidden; height:120px; background-color: #eee;}
  .image-gallery .grid > div img {width:100%}


	.intro {padding:20px;}
	.intro .county {font-size:12px;margin:0 0 4px 0;}
	.intro h1 {font-size:24px; margin:0 0 8px 0;}
	.intro p.summary {}




}

@media only screen and (min-width:460px) {
	.page-wrap {width:380px; margin:0 auto;}
}

@media only screen and (min-width:750px) {
}

@media only screen and (min-width:850px) {
}

@media only screen and (min-width:960px) {
}

@media only screen and (min-width:1260px) {
}
