
body {margin:0; font-family: 'Roboto'; color: #605445;}
strong {font-weight:bold;}
a {text-decoration: none; color:#3B98AF;}
input[type="text"] {width:100%; font-size:20px; border:solid 1px #E7E3D8; padding:8px; box-sizing:border-box;}
ul.multi-select {margin:20px 0 30px;}
ul.multi-select li {display:block; padding:12px; background-color:#fff; border-bottom:3px solid #E7E3D8;}


#header {height:30px; background-color: #605445; color:#E7E3D8; padding:8px 8px 0; box-sizing:border-box; font-size:14px; position:fixed; top:0; left:0; right:0;}
#header #logo {display:inline-block; vertical-align:top;}
#header #tools {display:inline-block; vertical-align:top; float:right;}
#sidebar {position:fixed; top:30px; bottom:0; left:0; width:320px; background-color:#E7E3D8; color: #605445; box-sizing:border-box; text-align: center; padding:20px; line-height: 24px; padding-top:200px;}
#content-wrapper {margin:0 0 0 320px;}

#content-wrapper #content {width:384px; margin:60px auto; text-align: center;}
#content-wrapper #content h1 {font-size:24px; padding-top:30px;}
#content-wrapper #content label {display:block; margin: 24px 0 12px;}
#content-wrapper #content label a {text-transform: lowercase;}
#content-wrapper #content input {width:100%; font-size:20px; border:solid 1px #E7E3D8; padding:8px; box-sizing:border-box;}
#content-wrapper #content #destinations {margin-top:100px; font-size:14px;}
#content-wrapper #content #destinations ul {margin-top:24px;}
#content-wrapper #content #destinations ul li {float:left; margin:0 12px 12px 0; width:120px; background-color:#eee; height:120px; box-sizing:border-box; padding-top:50px;}
#content-wrapper #content #destinations ul li:nth-child(3n+1){clear:left;}
#content-wrapper #content #destinations ul li:nth-child(3n){margin-right: 0}

.transport {position:relative;}
.transport ul {text-align:left; position:absolute; top:0; background-color:#fff; border:solid 6px #E7E3D8; left:0; width:180px; left:50%; margin-left:-90px; display:none;}
.transport ul li {padding:6px; border-bottom:solid 3px #E7E3D8; font-size:14px;}
.transport ul li:hover {cursor:pointer;}

/* profile page */
body#profile {} 
body#profile #sidebar {position:absolute; top:30px; bottom:50px; left:0; width:320px; background-color:#E7E3D8; color: #605445; box-sizing:border-box; text-align: center; line-height: 16px; padding:0; }
body#profile #sidebar fieldset {margin-top:30px;}
body#profile #sidebar input {margin-bottom:8px;}
body#profile #content-wrapper {position:absolute; top:30px; left:320px; right:0; bottom:50px; margin:0; background-color:#E7E3D8; border-left:3px solid #D6D3C0; overflow-y:scroll	;}
body#profile #content {width:600px; margin:60px auto 0; text-align: left;}
body#profile #content ul {float:left; width:50%; vertical-align: top;}
body#profile #content ul li {margin-bottom:12px;}
body#profile #content input[type="checkbox"] {border-top: solid 1px #ddd; display:inline; width:auto;}
body#profile #content label {display:inline; border-top: solid 1px #ddd; color:#3B98AF;}
.title {text-align:center; padding:12px; background-color:#786956; color:#fff;}
 #footer {position:absolute;  left:0px; right:0; bottom:0px; height:50px; background-color: #E7E3D8; border-top:3px solid #D6D3C0; padding:12px; box-sizing:border-box; text-align:right;}
 #footer a {}

body#settings {} 
body#settings .panel {position:absolute; top:30px; box-sizing:border-box; width:33.33%; bottom:50px; background-color:#E7E3D8;}
body#settings #what {left:0; }
body#settings #when {left:33.33%; border-left:3px solid #D6D3C0;}
body#settings #who {left:66.66%;border-left:3px solid #D6D3C0;}

body#settings #who .avatar {width:60px; height:60px; border-radius:50%; background-color: #fff; margin:0 auto 12px;}
body#settings #who ul.people {margin-top:30px; 	}
body#settings #who ul.people li {float:left;  width:50%; box-sizing:border-box;}


body#details {} 
body#details .panel {position:absolute; top:30px; box-sizing:border-box; bottom:0px; overflow-y:scroll;}
body#details #itinerary {width:33.33%; background-color:#E7E3D8;}
body#details #itinerary-elements ul li {position:relative;}
body#details #itinerary-elements ul li:hover {cursor: pointer}
body#details #itinerary-elements ul li:active {-webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.17);
box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.17);}

body#details #itinerary-elements ul {}
body#details #itinerary-elements ul li div.name {margin:8px 16px; background-color:#fff; padding:16px;}
body#details #itinerary-elements ul li a.time {display:block; font-size:12px; text-align: right; padding-right:16px; text-transform:lowercase;}
body#details #itinerary-elements ul li div.delete {position:absolute; right:16px; top:0; padding:8px; color:#ccc;}

body#details #itinerary-elements .empty {background-color:#FFF2CC; height:30px; border:dashed 1px #D6D3C0; padding:6px; color:#FFF2CC;}
body#details #itinerary-elements .empty::after {content: "Drop here";}
body#details #itinerary-elements .empty > div {}

body#details #content {left:33.33%; right:0;}
body#details #content #list .item {width:50%; box-sizing:border-box; float:left; padding-right:18px; margin-bottom:18px;}
body#details #content #list .item > div { border:solid 1px #eee; padding:8px; position:relative;}
body#details #content #list .item > div:hover {cursor: pointer; background-color:#eee;}
body#details #content #list .item .image {height:100px; background-color:#eee; margin-bottom:8px;}
body#details #content #list .item .snippet {position:relative; font-size:13px; line-height: 16px; height:48px; overflow:hidden;}
body#details #content #list .item .snippet:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 16px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
body#details #content #list .item-selected > div {background-color:#eee; color:#999;}

body#details  ul#dates {margin-left:18px;}
body#details  ul#dates li {display:inline-block; padding:6px 12px; height:50px; border-right:solid 1px #eee;}
body#details  ul#dates li.selected {background-color: #fff;}






