<style type="text/css">

	@media screen and (min-width: 0px) {
 		.container {width:auto; margin:0 auto 0; min-height:40px;}
		.inner {overflow:hidden; padding:12px 0}
		.logo {display:none;}
	}


	@media screen and (min-width: 900px) {
 		.container {width:1116px; margin:0 auto 0}
		.inner {overflow:hidden; padding:12px 0}
		.logo {display:block; height:44px; width:250px; overflow:hidden; float:left; background:url('https://a2.cdn-hotels.com/da/assets/s/41.0/images/brands/hcom/logos/logo_en_GB.png') no-repeat; background-size:250px}
	}

	
</style>


<div class="container">
		<div class="inner">
			<div class="logo"></div>

		</div>
	</div>
