<style type="text/css">
.nav-links {overflow:hidden; list-style-type: none; width:1116px; margin:0 auto;}
.nav-links li {float:left; color:#fff; padding:8px 0; margin-right:24px; font-size: 13px}
.nav-links li.right {float:right; color:#fff;}

</style>

<ul class="nav-links">
	<li>Home</li>
	<li>Hotel Deals</li>
	<li>Help</li>
	<li>Website feedback</li>
	<!--<li class="right">Dream Saver</li>-->
	<li class="right">Your bookings</li>
	<li class="right">Hotels.com Rewards</li>
	<li class="right">Sign in & account</li>
</ul>
