		<!-- CSS -->

		<style type="text/css">

			@media only screen and (min-width:0px) {
				#header-full-screen {background-color:#d41200; height:40px; background:url('components/header-bg.png'); box-sizing:border-box; padding-top:8px;}
				#header-full-screen .header-content  #logo {height:28px; overflow:hidden; text-align:center;}
				#nav {display:none;}

			}
			@media only screen and (min-width:600px) {
				#header-full-screen {height:54px; padding:8px 16px 0;}
				#header-full-screen .header-content  #logo {height:40px; text-align:left;}
				#nav {background-color:#000; height:30px; overflow:hidden; display:block; padding:0 16px;}
				#nav ul li {float:left; color:#fff; font-size:13px; margin-right:16px; padding-top:8px; display:none;}
				#nav ul li.menu {display:block;}
				#nav ul li.right{float:right; display:block;}
			}
			@media only screen and (min-width:750px) {}
			@media only screen and (min-width:850px) {
				#nav ul li {display:block;}
				#nav ul li.menu {display:none;}
			}
			@media only screen and (min-width:960px) {}
			@media only screen and (min-width:1160px) {
				
				#header-full-screen .header-content {max-width:1160px; margin:0 auto;}
				
				
				#nav ul {max-width:1160px; margin:0 auto;}
				
			}


			
		</style>

		<!-- HTML -->

		<div id="header-full-screen">
			<div class="header-content">
				<div id="logo">
					<img src="http://a2.cdn-hotels.com/da/assets/s/16.0/images/brands/hcom/modules/header/logos/hotels_com_logo_en_GB.png" style="height:80px;"/>
				</div>
			</div>
		</div>
		<div id="nav">
			<ul>
				<li class="menu">Menu</li>
				<li>Home</li>
				<li>Hotel deals</li>
				<li>Packages &amp; Flights</li>
				<li>Groups</li>
				<li>Hotels.com Rewards</li>
				<li>Gift Cards</li>
				<li class="right">Sign in &amp; account</li>
				<li class="right">Customer Service</li>
				
			</ul>
		</div>