/* Site wide CSS */
/* red: #D41200 */
body {font-family:arial;}

		a {color:#2088DB; text-decoration: none}
		.arrow-down { display:inline-block; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent;
			border-top: 8px solid #2088DB; vertical-align:top; margin-top:4px;}
		#head {background-color: #D41200; height:50px; color:#fff; }
		#head > div, #nav > div, #search-strip > div, #wrapper {max-width:1160px; margin:0 auto; padding:0 16px;}
		#nav {background-color: #333; padding:8px; font-size:14px; color:#fff;}
		#search-strip {background-color:#F5F4F0; padding:16px 0;}
		#search-strip #destination {font-size:24px; font-weight:bold; margin-bottom:8px}
		#search-strip #dates {}
		#sort-filter {border-top:#ccc solid 0px; border-bottom:#ccc solid 0px; margin-top:16px;}

		#filters ul {overflow:hidden; height:52px;}
		#filters ul li {margin-right:24px; bor/der:solid 1px #ccc; float:left; ba/ckground-color:#ddd; padding:8px 0; height:52px; box-sizing:border-box;}
		#filters ul li#name-contains {position:relative;  width:150px; border:0; background-color:transparent; margin-left:8px;}
		#filters ul li#name-contains input {box-sizing:border-box; border:solid 1px #ccc; font-size:12px; padding:4px; width:calc(100% - 30px); height:20px}
		#filters ul li#name-contains button {position:absolute; bottom:8px; right:0; width:30px; background-color:#2088DB; color:#fff; border:0; height:20px; display:inline-block; margin-top:-1px}

		#filters ul li label {font-size:12px; margin-bottom:4px; display:block;}
		#filters ul li div.data {font-size:14px; color:#2088DB; padding-top:2px; font-weight:bold;}
		
		.filter-block {float:left; vertical-align: top; box-sizing:border-box; padding:0 24px 0 8px;}
		.filter-block > label {display:block; font-size:12px; margin-bottom: 8px; font-weight:bold; }


		div#sort ul {overflow:hidden;}
			div#sort ul li {float:left; padding:8px 16px; font-size: 14px; color:;}
/* Media Queries - HCOM breakpoints */
@media only screen and (min-width:0px) {
/* this isn't really needed  */

	#filters-button {width:100px; background-color:#eee; float:left; box-sizing:border-box; padding:8px; background-color: #555; color:#fff;}
 	
 	#filters-title {display:none;}
 	#filters {display:none;}
 	#filters-clear {display:none;}
 	div#sort {width:calc(100% - 116px); height:32px; float:right; background-color:#eee; box-sizing:border-box; font-size:16px;}
 	div#sort label { font-size:14px; margin-bottom:4px; }
 	div#sort select {margin-left:8px;}
}

@media only screen and (min-width:600px) {

}

@media only screen and (min-width:750px) {
	#filters-button {display:none;}
	#filters-title {display:block;}
 	#filters {display:block;}
 	#filters-clear {display:block;}
 	div#sort {width:250px; height:52px; float:right; background-color:#eee; box-sizing:border-box;}
 	div#sort label { font-size:12px; margin-bottom:4px; display:block;}
 	div#sort select {margin-left:0px;width:220px;}
}

@media only screen and (min-width:850px) {

}

@media only screen and (min-width:960px) {
}

@media only screen and (min-width:1260px) {
}