/* reset =================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a {text-decoration:none;}
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }


body {margin:0; padding:0; font-family:arial; font-size:62.5%;}

strong {font-weight:bold;}	
#header {background-color:#C71110; height:46px;}	
#header .logo {width: 150px; height:40px; background: url(i/sprite_logos.png) 0 5px; outline:0;}

#title {padding:15px 0;}

.block {position:relative; background-color:#eae8e0; height:100px;}
.block p.label {padding:10px; color:#999;}


#slideshow {position:relative;}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 0px) {
  /* 0 - 480 =================================================== */

  h1 {font-size:1.8em;}
   h2 {font-size:1.6em; margin-bottom:15px;}
  /** Grid css **/
  
  #frame {margin:0; clear:both; overflow:hidden;}
  #grid { margin:0 -2.1739% 0 2.1739%;}


  [class^="grid-"]{
    float:left; margin-right:2.1739% ;margin-bottom:12px;
  }

  .grid-1 {width:14.1304%;}
  .grid-2 {width:30.4348%;}
  .grid-3 {width:46.7391%;}
  .grid-4 {width:63.0435%;}
  .grid-5 {width:79.3479%;}
  .grid-6 {width:95.6521%; margin-right:0;}
}

#description p {font-size:1.4em; line-height:140%; margin-bottom:20px;}

.getmore {text-align:center; margin-top:5px; padding:5px; font-size:0.9rem; background-color:#eae8e0;}
.getmore a {color:#900;}


/* upto 768 =================================================== */

@media only screen and (min-width: 520px) {
  /* 768 =================================================== */

  #title h1 {font-size:2.0em;}
}


@media only screen and (min-width: 768px) {
  /* 768 =================================================== */

}
			
@media only screen and (min-width: 992px) {
/* 992 =================================================== */
body {
    		max-width: 1200px;
  	}
}