html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a {text-decoration:none;}
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }




body {margin:0; padding:0; background:#fff; font-family:arial;}
#pagebg {}
/*.frame {clear:both; overflow:hidden; background:white;}*/
.grid {margin:0 -2.5972% 0 0; min-width:924px; max-width:1200px; margin:0 auto; padding:0 0 0 2.5972% ;}
.holder {background-color:#F5F4F0;}

/** Grid css **/
[class^="grid-"]{
	float:left; margin-right:1.2987%;margin-bottom:12px;
}

.grid-1 {width:6.9264%;}
.grid-2 {width:15.1515%;}
.grid-3 {width:23.3766%;}
.grid-4 {width:31.6017%;}
.grid-5 {width:39.82%;}
.grid-6 {width:48.0591%;}
.grid-7 {width:56.2720%;}
.grid-8 {width:64.5021%;}
.grid-9 {width:72.7272%;}
.grid-10 {width:80.9523%;}
.grid-11 {width:89.1774%;}
.grid-12 {width:97.4025%;}


/** header **/
#header {background: url('header-red-bg.png'); overflow:hidden; clear:both; height:54px; width:100%;}
#header .grid {}
#header #content {min-width:924px; max-width:1160px; margin:0 auto; position:relative; padding:0 2.5972%%;}
#logo {}
#currency {position:absolute;top:0; width:150px; margin-left:-75px; left:50%;}
#contact {text-align:right;}

/** navigations **/
#nav {background-color:#262626; overflow:hidden; clear:both;}
#nav #w {min-width:924px; max-width:1160px; margin:0 auto; padding:0 2.5972%%; overflow:hidden; clear:both;}
#nav   ul#sNav {padding:9px 0 0;}
#nav   ul#sNav li {float:left; display:block; font-size:0.8em; color:white; height:20px; padding:0px 0 0; margin-right:15px;}
#nav   ul#sNav li.right {float:right; margin-right:0;}
#nav   ul#sNav li:last-child {margin-right:15px;}

.block {position:relative;  background-color:#eae8e0;}
.block p.label {padding:10px; color:#999; font-size:14px;}

/**** Home ****/
.hero_module {height:378px; margin-top:1.2987%; margin-bottom:1.2987%;}
.merch_promo {height:100px;}
.destination_promo {height:105px;}

/**** SRP ****/
.filters {height:1000px;}
.search_listing {height:175px;}
.srp_header {height:60px;}
.srp_datechange {height:40px;}
.srp_wr {height:30px;}

/**** SRP ****/

.pdp_header {height:40px;}
.pdp_hotel_intro {height:50px; margin-top:10px;}
.pdp_photo {height:600px;}
.pdp_reviews {height:480px;}
.pdp_wr {height:108px;}
.pdp_choose_room {height:40px;}
.pdp_room_extras {height:60px;}
.pdp_choose_room_table_header {height:30px;}
.pdp_room_details_1 {height:118px;}
.pdp_room_details_2 {height:236px;}

/**** Footer ****/
#footer .block{height:80px;}




/**** Extras ****/
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}


