body {font-family: arial; background-color:#E5DFCF; margin:0; padding:0; color:#555;}
h1 {padding:0; margin:0;}
ul {list-style-type: none; margin:0; padding:0;}
a {text-decoration:none; color:#3598DB;}



@media only screen and (min-width:500px) {
	#page-wrapper {width:360px; margin:0 auto;}
}