/* Site wide CSS */
/* red - #D41200 */
body {font-family:arial; color:#555;}
#w {margin:0 8px;}
div.b {text-align:center; margin:8px 0; background-color: #eee; position:relative;}
.s {padding:16px 16px;}
.m {padding:32px 16px;}
.l {padding:48px 16px;}

span {position:absolute; top:0; left:0; padding:4px; background-color:#555; color:#fff; font-size:12px;}

#header, #footer {background-color: #D41200; color:#fff; margin:0;}

/* Media Queries - HCOM breakpoints */
@media only screen and (min-width:0px) {
/* this isn't really needed  */

}

@media only screen and (min-width:600px) {
}

@media only screen and (min-width:750px) {
}

@media only screen and (min-width:850px) {
	#w {overflow:hidden;}
	#w > div, #w > section {box-sizing:border-box; width:66%; float:left;}
	#w > #rm {width:100%;}
	#w > #ba {width:33%; float:right;}
	#w > #ap {display:none;}
}

@media only screen and (min-width:960px) {
}

@media only screen and (min-width:1260px) {
}