		<!-- CSS -->

		<style type="text/css">
			#header-full-screen {background-color:#d41200; height:54px; background:url('images/header-bg.png'); box-sizing:border-box; padding-top:8px;}
			#header .header-content {max-width:1160px; margin:0 auto;}
			#nav {background-color:#000; height:30px; overflow:hidden;}
			#nav ul {max-width:1160px; margin:0 auto;}
			#nav ul li {float:left; color:#fff; font-size:13px; margin-right:16px; padding-top:8px;}
		</style>

		<!-- HTML -->

		<div id="header-full-screen">
			<div class="header-content">
				<div style="height:40px; overflow:hidden;">
					<img src="http://a2.cdn-hotels.com/da/assets/s/16.0/images/brands/hcom/modules/header/logos/hotels_com_logo_en_GB.png" style="height:80px;"/>
				</div>
			</div>
		</div>
		<div id="nav">
			<ul>
				<li>Home</li>
				<li>Hotel deals</li>
				<li>Packages &amp; Flights</li>
				<li>Groups</li>
				<li>Hotels.com Rewards</li>
				<li>Gift CArds</li>
			</ul>
		</div>