body {font-size:14px; font-family: arial; color:#555;}
a, a:visited {text-decoration: none; color:blue;}

button {color:blue; background-color:#fff; border:solid 1px blue; font-size:14px; border-radius:4px; padding:4px 16px; font-family: arial; color:#555;}